:root {
  --primary-color: rgb(99, 102, 241);
  --secondary-color: rgb(165, 180, 252, 0.7);
  --status-updates: #22c55e;
  --warning-pendingStatus: #f59e0b;
  --background: white;
  --background-color: rgb(237, 240, 237);
  --sidebar: #111827;
  --font-color: rgb(17, 16, 16);
  --table-header: rgba(165, 180, 252, 0.8);
  /* color-scheme: light dark;
  --bg-color: light-dark(white, #111827);
  --text-color: light-dark(#111827, white); */
}
#root {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(240, 240, 249);
  background-image: linear-gradient(to right, rgb(240, 240, 249), var(--secondary-color));
}
* {
  font-family: 'Hanken Grotesk', sans-serif;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-family: 'Livvic', sans-serif;
}

.custom-close-btn:hover {
  cursor: pointer;
  color: var(--primary-color);
}
.custom-home-page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.servexa-logo {
  max-width: 150px;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}
.custom-login-page,
.custom-signup-page {
  height: 100vh;
}

.custom-login-form,
.custom-signup-form {
  min-width: 400px;
  width: 20%;
  margin: 10px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background-color: var(--background);
  color: var(--primary-color);
}
.custom-form-input {
  width: 100%;
  padding: 7px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
button {
  /* background-color: var(--primary-color);
  color: white; */
  background-color: transparent;
  color: var(--primary-color);
  border-radius: 7px;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  padding: 10px;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: clamp(0.7rem, 2.5vw, 1rem);
}
button:hover {
  /* background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color); */
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
}
.custom-login-btn,
.custom-signup-btn {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
}
.custom-login-btn:hover,
.custom-signup-btn:hover {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.nav-link {
  font-size: clamp(0.9rem, 2vw, 1.2rem);
  text-decoration: none;
  color: var(--primary-color);
}
.nav-link:hover {
  color: var(--background);
  background-color: var(--primary-color);
  border-radius: 10px;
}
.active {
  background-color: var(--primary-color);
  color: white;
  border-radius: 10px;
}
.custom-smp {
  color: var(--primary-color);
  background-color: rgb(107, 81, 233, 0.1);
  width: max-content;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: clamp(0.7rem, 2.5vw, 1rem);
}
.custom-smp::before,
.custom-smp::after {
  content: '⭐️';
  margin: 0 5px;
}
.custom-hero-section > h1 {
  font-size: clamp(2rem, 5vw, 3.5rem);
}
.custom-hero-section {
  margin: 20px;
  padding: 20px;
}

.dashboard-screenshot {
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: var(--background-color);
  padding: 1px;
}
.custom-features-list {
  background-color: var(--background);
  align-items: center;
  padding: 1.2rem;
  margin: 1rem;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.feature-card {
  display: grid;
  grid-template-areas:
    'icon title'
    'icon description';
  row-gap: 5px;
  column-gap: 17px;
  max-height: 150px;
  min-width: 325px;
  align-self: center;
}
.feature-card > .icon {
  font-size: 2rem;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 5px 12px;
  border-radius: 10px;
  grid-area: icon;
}

.feature-card > .title {
  grid-area: title;
  margin-bottom: 0px;
}
.feature-card > .description {
  grid-area: description;
}

.flowchart {
  display: flex;
  flex-direction: row;
  align-items: center; /* Keeps everything centered along a straight axis */
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  padding: 2rem;
}

/* Base Node Styles */
.node {
  background-color: var(--background-color);
  border: 1px solid var(--font-color);
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  width: 220px;
  height: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.arrow {
  width: 98px;
  height: 2px;
  background-color: #414851;
  position: relative;
  margin-bottom: 10px;
}
.arrow::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 8px solid #414851;
}
.node > .steps {
  font-size: clamp(0.8rem, 2.5vw, 1.1rem);
  text-wrap: wrap;
}
.step-number {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  background-color: orange;
  color: white;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
}
.custom-footer {
  background-color: var(--background-color);
  border-top: 1px solid rgba(107, 81, 233, 0.3);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 100%;
  margin-top: 20vh;
}
.custom-footer > div > a {
  text-decoration: none;
}
.custom-footer-icons {
  color: var(--primary-color);
  font-size: clamp(1.3rem, 3vw, 2rem);
  margin: 25px;
  text-decoration: none;
}
.custom-footer > div {
  margin: 10px;
  font-size: clamp(0.8rem, 2.5vw, 1.2rem);
}
.custom-footer > div > i:hover {
  cursor: pointer;
  text-decoration: underline;
}
.custom-footer > div > a {
  text-decoration: underline;
  color: var(--primary-color);
}
.custom-alert,
.loading,
.custom-search-result {
  border-radius: 5px;
  border: black 1px solid;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 25%;
  height: 250px;
  margin: 20px auto;
  text-align: center;
  position: fixed;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1500;
  /* background-color: var(--background); */
}
.custom-search-result {
  background-color: var(--background);
  width: fit-content;
  position: fixed;
  top: 75px;
  text-align: left;
  z-index: 1400;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
}
.custom-result {
  display: grid;
  grid-template-columns: 1fr 1fr 1.2fr 1fr;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: black;
}
.custom-result p {
  font-size: clamp(0.7rem, 2.3vw, 1rem);
}
.custom-result:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}
.custom-alert p {
  font-size: clamp(0.5rem, 2.3vw, 1.1rem);
}
/* Dashboard page */
.dashboard-page {
  min-height: 100vh;
  background-color: white;
  display: grid;
  grid-template-areas:
    'profile-navbar profile-navbar'
    'sidebar-menu custom-info-area';
  grid-template-columns: 1fr 7fr;
  grid-template-rows: auto 1fr;
  overflow-x: hidden;
}
.dash-period {
  padding: 10px;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: clamp(0.6rem, 2.4vw, 1.1rem);
}
.custom-title {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  font-weight: bold;
  position: relative;
  right: 35px;
  color: var(--primary-color);
}

.profile-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  grid-area: profile-navbar;
}
.sidebar-menu {
  display: flex;
  flex-direction: column;
  grid-area: sidebar-menu;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  /* background-color: rgb(35, 33, 33);
  background-color: var(--sidebar); */
}
.custom-info-area {
  background-color: var(--background-color);
  grid-area: custom-info-area;
  display: flex;
  flex-direction: column;
  justify-items: center;
  overflow-x: hidden;
}
.sidebar-menu li {
  list-style: none;
  font-size: clamp(0.7rem, 2.5vw, 1.2rem);
  font-weight: bold;
  margin: 1.5rem;
  padding: 0.5rem;
}
.sidebar-menu li:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  border-radius: 10px;
  width: 85%;
}
.sidebar-menu ul:nth-child(2) {
  position: relative;
  top: 200px;
}
.custom-info-card,
.tile-card {
  background-color: white;
  min-width: 20%;
  max-height: 250px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  display: flex;
  justify-content: space-between;
  /* border: 2px solid #e4e7ec; */
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.custom-info-card i,
.tile-card i,
.service-icon {
  font-size: clamp(1.2rem, 3vw, 2.2rem);
  color: var(--primary-color);
  background-color: rgb(107, 81, 233, 0.1);
  background-size: clamp(1.5rem, 3vw, 2.5rem);
  width: 70px;
  height: 70px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.custom-tile-figures {
  font-size: clamp(1.8rem, 3vw, 2.9rem);
  font-weight: bold;
}
.custom-info-area section {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.custom-table-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
}

th {
  font-size: clamp(0.7rem, 2.5vw, 1.1rem);
  font-weight: bold;
  background-color: var(--background-color);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.activity-feed {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  padding: 0;
  margin: 1rem 0 0 1rem;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.activity-feed div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--background);
  border-radius: 12px 12px 0 0;
}
.activity-feed-item {
  display: flex;
  padding: 10px;
  margin: 0.8rem 0 0 1rem;
}

.activity-feed-item i {
  font-size: clamp(1rem, 3vw, 1.5rem);
  /* background-color: rgb(107, 81, 233, 0.1); */
  background-size: clamp(1.3rem, 3vw, 2.3rem);
  width: 55px;
  height: 55px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 15px;
}
.custom-nav-link {
  text-decoration: none;
  color: var(--background-color);
  color: var(--font-color);
}

/* Orders Page */

/* View Order Page */
.custom-order-info,
.custom-service-info,
.custom-profile-info {
  width: 65%;
  margin: 20px auto;
  background-color: var(--background);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.custom-order-info p,
.custom-service-info p,
.custom-profile-info p {
  font-size: clamp(0.4rem, 2.4vw, 1.1rem);
  color: var(--font-color);
}
.custom-profile-info .row {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 95%;
  justify-self: center;
  padding: 1.2rem;
  margin-top: 1.2rem;
  display: flex;
}
/* All users page */

/* Single User page */
.update-user-status-btn {
  width: fit-content;
}

select {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* Services */

.custom-services-table,
.custom-recent-orders,
.custom-orders-table,
.custom-users-table,
.user-search-results {
  background-color: var(--background);
  align-self: center;
  width: fit-content;
}
.table-container {
  margin-top: 100px;
  align-self: center;
  width: 80%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.recent-table-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0;
  border-radius: 10px;
  background-color: var(--background);
  height: max-content;
}
.custom-services-table,
.custom-recent-orders,
.custom-orders-table,
.custom-users-table {
  width: 100%;
  min-width: 1000px;
}

tfoot td {
  font-size: clamp(0.6rem, 2.4vw, 1.1rem);
  font-weight: bold;
  color: var(--font-color);
}
tfoot {
  width: 100%;
}
thead th {
  font-size: clamp(0.6rem, 2.5vw, 1.1rem);
  font-weight: bold;
  background-color: var(--table-header);
}
th,
td {
  padding: 15px;
  text-align: left;
  white-space: nowrap;
}
td {
  font-size: clamp(0.7rem, 2.4vw, 1rem);
  color: var(--font-color);
}

.status {
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 20px;
  width: fit-content;
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-size: clamp(0.5rem, 2.4vw, 0.9rem);
  margin: 0;
}
tr {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
tbody :hover {
  background: var(--background-color);
}
.table-btn {
  font-size: clamp(0.6rem, 2.4vw, 1rem);
}
textarea {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
/* Settings Page */
.custom-edit-btn {
  margin-top: 15px;
  position: relative;
  left: 100%;
  transform: translateX(-100%);
}

.user-search-results {
  position: fixed;
  top: 300px;
  z-index: 1400;
  min-width: 31%;
}

/* Service Offerings */
.service-card {
  background-color: var(--background);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  width: 375px;
  height: 250px;
  display: flex;
  flex-direction: column;
}
.heading {
  font-size: clamp(1.8rem, 3vw, 2.8rem);
  color: var(--primary-color);
}

/* About Us page */
.mission {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 20px 0 20px 0;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--table-header);
}
.mission p {
  font-size: clamp(0.7rem, 2.5vw, 1.3rem);
  /* color: var(--background-color); */
}
.our-values {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  background-color: var(--background);
  margin: 30px 0;
}
.our-values h3 {
  padding: 10px 0;
}
.value {
  border: 1px solid rgba(99, 102, 241, 0.3);
  border-radius: 5px;
  padding: 15px;
  margin: 15px 0;
}
.value i:hover {
  cursor: pointer;
}
.value i {
  color: var(--font-color);
  font-size: clamp(1.5rem, 3vw, 2rem);
}
/* Media Queries for responsive design */

@media screen and (max-width: 768px) {
  .dashboard-page {
    grid-template-areas:
      'profile-navbar'
      'custom-info-area';
    grid-template-columns: 1fr;
  }
  .custom-info-area {
    max-width: 100%;
  }
  .custom-alert {
    width: 70%;
  }
  .custom-info-card i,
  .tile-card i,
  .service-icon {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 992px) {
  .flowchart {
    flex-direction: column;
    align-items: center;
  }
  .arrow {
    width: 2px;
    height: 80px;
    background-color: #414851;
    position: relative;
  }
  .arrow::after {
    content: '';
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #414851;
  }
}
@media screen and (max-width: 1200px) {
  .custom-profile-info,
  .custom-order-info {
    width: 90%;
    margin: 20px auto;
  }
}
