:root {
  --primary-color: #6b51e9;
  /* --secondary-color: rgb(107, 81, 233, 0.25); */
  --secondary-color: rgba(198, 189, 243, 0.9);
  --status-updates: #22c55e;
  --warning-pendingStatus: #f59e0b;
  --background: white;
  --background-color: #faf7f7;
  --sidebar: #111827;
}

* {
  font-family: 'Figtree', sans-serif;
}
.custom-login-page,
.custom-signup-page,
.custom-home-page {
  background-image: linear-gradient(to right, var(--background), var(--secondary-color));
}

.custom-login-form,
.custom-signup-form {
  min-width: 400px;
  width: 20%;
  margin: 10px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background-color: #f9f9f9;
  color: var(--primary-color);
}
.custom-form-input {
  width: 100%;
  padding: 7px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
button {
  background-color: var(--primary-color);
  color: white;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  padding: 13px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
button:hover {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.custom-login-btn,
.custom-signup-btn {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
}

.custom-smp {
  color: var(--primary-color);
  background-color: rgb(107, 81, 233, 0.1);
  width: fit-content;
}
.custom-smp::before,
.custom-smp::after {
  content: '⭐️';
  margin: 0 5px;
}
.custom-hero-section > h1 {
  font-size: 3.5rem;
}
.custom-features-list {
  
  background-color: #f9f9f9;
  justify-content: space-around;
  width: 90%;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0.8;
}
.feature-card {
  display: grid;
  grid-template-areas:
    'icon title'
    'icon description';
  row-gap: 5px;
  column-gap: 10px;
  /* align-items: center; */
  max-height: fit-content;
}
.feature-card > .icon {
  font-size: 2rem;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 5px 12px;
  border-radius: 10px;
  grid-area: icon;
}

.feature-card > .title {
  grid-area: title;
  margin-bottom: 0px;
}
.feature-card > .description {
  grid-area: description;
}
.custom-footer {
  background-color: none;
  border-top: 1px solid rgba(107, 81, 233, 0.3);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 100%;
  margin-top: 20vh;
}
.custom-footer > div > a {
  text-decoration: none;
}
.custom-footer-icons {
  color: var(--primary-color);
  font-size: clamp(1.3rem, 3vw, 2rem);
  margin: 25px;
  text-decoration: none;
}
.custom-footer > div {
  margin: 10px;
  font-size: clamp(0.8rem, 2.5vw, 1.2rem);
}
.custom-footer > div > i:hover {
  cursor: pointer;
  text-decoration: underline;
}
.custom-footer > div > a {
  text-decoration: underline;
  color: var(--primary-color);
}
