:root {
  --primary-color: #1e3a8a;
  --secondary-color: #3b82f6;
  --status-updates: #22c55e;
  --warning-pendingStatus: #f59e0b;
  --background: #f8fafc;
  --sidebar: #111827;
}

* {
  font-family: 'Figtree', sans-serif;
}
.custom-login-page,
.custom-signup-page {
  height: 100vh;
  background-image: linear-gradient(to right, var(--secondary-color), var(--primary-color));
}
h1 {
  color: white;
  margin-bottom: 20px;
}
.custom-login-form,
.custom-signup-form {
  min-width: 400px;
  width: 20%;
  margin: 10px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background-color: #f9f9f9;
  color: var(--primary-color);
}
.custom-form-input {
  width: 100%;
  padding: 7px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.custom-login-btn,
.custom-signup-btn {
  width: 100%;
  padding: 10px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
